###############################################################################
###############################################################################
#
# HOST DEFINITION
#
###############################################################################
###############################################################################

# Define a host for the local machine

define host{
        host_name               localhost
        alias                   localhost
        address                 127.0.0.1
	check_command           check_ping
        notification_options    d,u,r
        max_check_attempts      5
        contact_groups          mis-staff
        }

###############################################################################
###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################
###############################################################################


# Define a service to "ping" the local machine

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             PING
	check_command			check_ping!100.0,20%!500.0,60%
        }


# Define a service to check the disk space of the root partition
# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Root Partition
	check_command			check_local_disk!20!10!/!/boot
	#check_command			check_local_disk!20%!10%!/!/boot
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Current Users
	check_command			check_local_users!5!10
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Total Processes
	check_command			check_local_procs!250!400!RSZDT
        }



# Define a service to check the load on the local machine.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Current Load
	check_command			check_local_load!1.5!2.0
        }



# Define a service to check the swap usage the local machine.
# Critical if less than 10% of swap is free, warning if less than 20% is free

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Swap Usage
	check_command			check_local_swap!20!10
        }



# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		1
        }



# Define a service to check HTTP on the local machine.
# Disable notifications for this service by default, as not all users may have HTTP enabled.

define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             HTTP
	check_command			check_http!80
	servicegroups                   web-services
	notifications_enabled		1
        }

# Check memory
define service{
        use                             service-localhost-template         ; Name of service template to use
        host_name                       localhost
        service_description             Memory
	check_command			check_local_memory!80!90
	notifications_enabled		1
        }

# Check Nagios
define service{
        host_name                       localhost
        service_description             Check Nagios
        use                             service-localhost-template         ; Name of service template to use
        check_command                   check_local_nagios
        }

#define service{
#        use                             service-localhost-template         ; Name of service template to use
#        host_name                       localhost
#        service_description             HTTPS
#	check_command			check_http!443
#	notifications_enabled		1
#        }

